body{
width: 85%;
margin:auto;
background-color: #F4BEA6;
color: #2B2B2B; }

h1 {
    color:#966056;
    text-align:center;
    font-family: 'GFS Didot', serif;
    font-size: 40px;
    padding-top: 15px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h6 {
    font-family: 'Source Code Pro', monospace;
}

h2, h3, h4, h5, h6 {
    color: #966056;
}

hr {
width: 40%;
}

a {
    color: #966056;
}

a:hover {
   color: darkgray;
}

#submit, #submit1 {
    background-color: #F4BEA6;
    border: none;
    color: #966056;
    font-weight: bold;
}

#light-section {
background-color: #FFF0EA;
padding-bottom: 25px;
margin-bottom: 80px;}

#insta-feed {
    display: flex;}
